/* styles/WeatherComponent.module.css */
.forecastContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.current {
  background-color: var(--secondary-bg-color);
  display: grid;
  padding: 2rem;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  opacity: 0.9;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem;
  gap: 40px;
}

.forecast {
  background-color: var(--secondary-bg-color);
  display: grid;
  padding: 2rem;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  opacity: 0.9;
}

.conditionIcon {
  height: 50px;
  width: 50px;
}

.conditionContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.cityInput {
  padding: 1rem 2rem;
  border-radius: 20px;
  opacity: 0.9;
  font-size: larger;
}
/* styles/global.css */
:root {
  --primary-bg-color: #121214;
  --secondary-bg-color: white;
  --accent-color: #f2db60;
  --link-color: white;
  --link-hover-color: green;
  --text-color: #333;
  --text-light-color: #666;
  --header-footer-bg-color: #333;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--primary-bg-color);
  background-image: url('../assets/bg.jpg');
  background-position: top;
  background-size: cover;
  color: var(--text-light-color);
}

.navbar-light {
  background-color: var(--primary-bg-color) !important;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--link-color);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--link-hover-color);
}

.header, .footer {
  background-color: var(--header-footer-bg-color);
  color: var(--secondary-bg-color);
  text-align: center;
  padding: 20px 0;
}

.container, #terms-container {
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 50px auto;
  max-width: 800px;
}

h1 {
  color: var(--text-color);
}
