/* styles/WeatherComponent.module.css */
.centerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust the height to fit the full viewport height or as needed */
}

.searchContainer {
    margin-bottom: 20px; /* Space between the search box and the temperature fields */
}

.cityInput {
    padding: 1rem 2rem;
    border-radius: 20px;
    font-size: larger;
    border: 1px solid #ccc; /* Style the border as needed */
}

.temperatureContainer {
    display: flex;
    justify-content: center; /* Centers the temperature fields horizontally */
    gap: 20px; /* Adds space between each temperature field */
}

.temperatureField {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow */
}
